.expense-item__date {
  color: #fff;
  text-align: center;
  padding: 8px 25px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, .8);
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
}

.expense-item__month,
.expense-item__day {
  font-size: 1.25rem;
  font-weight: 700;
}

.expense-item__year {
  font-size: .85rem;
}