.expense-item {
  display: flex;
  align-items: center;
  margin: 12px 0;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: rgba(145, 143, 143, .8);
}

.expense-item__description {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.expense-item__title {
  flex: 1;
  font-size: 1.25rem;
  font-weight: 600;
  color: #f3f3f3;
}

.expense-item__amount {
  padding: 5px 12px;
  color:#f3f3f3;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: #6b025d;
  border: 1px solid #fff;
  border-radius: 8px;
}